<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="isHandset ? 'dialog' : 'navigation'"
    [mode]="(isHandset | async)!.matches ? 'over' : 'side'"
    [opened]="!(isHandset | async)!.matches">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    
    

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Personal data
          </mat-panel-title>
         
        </mat-expansion-panel-header>
        <ul class="subLinks">
          <li>
          <a  routerLink="/">Home</a>
        </li>
        <li>
          <a routerLink="posts">Posts</a>
        </li>
        
        </ul>
       
      </mat-expansion-panel>
      <mat-expansion-panel >
        <mat-expansion-panel-header>
          <mat-panel-title>
            Maps
          </mat-panel-title>
         
        </mat-expansion-panel-header>
        <ul class="subLinks">
            <li>
            <a  routerLink="/maps">esri</a>
          </li>
          <li>
            <a routerLink="posts">Posts</a>
          </li>
          
          </ul>
      </mat-expansion-panel>
    </mat-accordion>
  
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Application Title</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
  
</mat-sidenav-container>