/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body { margin: 0; }

.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  .loginCard {
    padding: 20px;
  }
  @media only screen and (min-width: 600px) {
    .loginCard {
      position: fixed;
      width: 400px;
      top: 40%;
      left: 50%;
      margin-top: -200px;
      margin-left: -200px;
      box-shadow: 5px 5px 18px #888888;
    }
  }

[hidden] {
    display: none !important;
  }
  .dashed {
      border:none;
      border-top:1px dashed #CCC;
  }
  .alightRight {
    text-align: right;
  }
  .textCenter {
    text-align: center
  }